.secao {
    display: grid;
    align-items: center;
}

.secao-horizontal {
    grid-template-rows: 120px auto;
}

/* .secao-horizontal .secao__cartoes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 16px;
    column-gap: 20px;
} */

.secao-vertical {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 2fr;
}

.secao-vertical .secao__cartoes {
    grid-column: 1/3;
}